.pie-chart-container{
    margin-left: 500px;
    margin-top: 150px;
}
.chart-container{
    margin-left: 300px;
    margin-top: 150px;
}
body
{
    margin: 0;
    padding: 0;
    background-color: white;
}

header
{
    background-color: #00B8B3;
    position: absolute;
    width: 1365px;
    height: 82px;
    left: 0px;
    top: 0px;
}

.LibSys img
{
    position: absolute;
    width: 60px;
    height: 65px;
    right: 120px;
    bottom: -10px;
}
.LibSys h3
{
    color: white;
    font-family: 'Russo One', sans-serif;

    position: absolute; 
    width: 113px;
    height: 33px;
    left: 150px;
    top: 26px;

    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
}

.logout_btn
{
    background: #00B8B3;
    text-decoration: none;
    position: absolute;
    width: 59px;
    height: 24px;
    left: 1280px;
    top: 30px;

    color: white;
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
}

.sidebar
{
    background: #00B8B3;
    position: fixed;
    width: 261px;
    height: 615px;
    left: 0px;
    top: 82px;
}
.sidebar h4
{
    position: absolute;
    width: 261px;
    height: 79px;
    background: #00B8B3;

    color: white;
    display: block;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    padding-left: 70px;
    
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
.sidebar h4:hover
{
    background: #9C9191;
}

.dashboardlogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 20px;
    left: 20px;
}

.sidebar h5
{
    text-decoration: none;
    background: #00B8B3;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 79px;

    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    padding-left: 45px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    transition:0.5s;
}
.sidebar h5:hover
{
    background: #9C9191;
}
.PMlogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 100px;
    left: 20px;
}

.sidebar h6
{
    text-decoration: none;
    background: #00B8B3;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 158px;

    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    padding-left: 30px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    transition:0.5s;
}
.sidebar h6:hover
{
    background: #9C9191;
}

.BMlogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 180px;
    left: 20px;
}

.sidebar h7
{
    text-decoration: none;
    background: #00B8B3;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 237px;

    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 70px;
    text-decoration: none;
    padding-left: 67px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    transition:0.5s;
}
.sidebar h7:hover
{
    background: #9C9191;
}

.settingslogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 255px;
    left: 20px;
}


.sidebar h1
{
    text-decoration: none;
    background: #8EE4AF;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 79px;

    color: #05386B;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    padding-left: 45px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.sidebar h2
{
    
    position: absolute;
    width: 261px;
    height: 79px;
    background: #379683;


    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    padding-left: 70px;
    
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    transition:0.5s;
}
.sidebar h2:hover
{
    background: #9C9191;
}

.sidebar h8
{
    text-decoration: none;
    background: #8EE4AF;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 158px;

    color: #05386B;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    padding-left: 30px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.sidebar h9
{
    text-decoration: none;
    background: #8EE4AF;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 237px;

    color: #05386B;
    display: block;
    width: 100%;
    line-height: 70px;
    text-decoration: none;
    padding-left: 67px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    transition:0.5s;
}


.modal-bg
{   
    display: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content
{
    background-color: white;
    position: absolute;
    width: 589px;
    height: 480px;
    margin-top: 90px;
    margin-left: 500px;
    color: #EDF5E1;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.modal-input
{
    margin-top: 55px;
    margin-left: 70px;
    color: black;
}
.modal-header h10
{
    color: white;
    background-color: #00B8B3;
    position: absolute;
    width: 589px;
    height: 51px;
    left: 0px;
    top: 0px;
}

.button
{
    left: 1000px;
    margin-top: 120px;
    margin-left: 350px;
}
.books
{
    left: 1000px;
    margin-top: 190px;
    margin-left: 350px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }


.bodyheader
{
    padding: 22px;
    background-color: #EDF5E1;
    position: absolute;
    width: 887px;
    height: 40px;
    left: 350px;
    top: 165px;
}
.bodyheader h10
{
    margin-top: -13px;
    color: #05386B;
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 10px;
}

table
{
    border-collapse: collapse;
    background-color: #CFCFCF;
}
table.list
{
    width:65%;
    margin-left: 350px;
    margin-top: 40px;
}

td, th 
{
    border: 1px solid white;
    text-align: center;
    padding: 8px;
    color: black;
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

td, tbody 
{
    color: black;
    text-align: center;
}

thead
{
    background-color: #CFCFCF;
    border: 1px solid #5CD595;
}

input[type=text], input[type=number] 
{
    width: 400px;
    padding: 10px 15px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px
}

input[type=submit]
{
    width: 30%;
    background-color: #05386B;
    color: #EDF5E1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.closeBtn-books
{
    position: absolute;
    background-color: #FF8D8D;
    top: 312px;

    width: 30%;
    color: #EDF5E1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 400px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.closeBtn-patron
{
    position: absolute;
    background-color: #FF8D8D;
    top: 336px;

    width: 30%;
    color: #EDF5E1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 400px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}