<template>
    <div id="app">
        <div class="main-content">
            <div class="container pt-5">
            <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-primary" data-target="#addmodal"
                data-toggle="modal">&nbsp;Add&nbsp; </button>
            </div>
            <div class="col-4 offset-md-4">
            <div class="d-flex justify-content-end pr-1">
                <input type="text" class="form-control custom-form" id="search" placeholder="Search">
                            <img src="@Images/search_48px.png" height="25" class="mt-2 mr-2 position-absolute invert">
                        </div>
                    </div>
                </div>

                <div class="table-responsive pt-3">
                    <div style="overflow-x:auto;"></div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Author</th>
                                <th>Copies Available</th>
                                <th>Category</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(book, index) in bookdata" :key="index">
                                <td>{{book.name}}</td>
                                <td>{{book.author}}</td>
                                <td>{{book.copies}}</td>
                                <td>{{book.category}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary custom-btn" data-target="#updatemodal"
                                        data-toggle="modal" v-on:click="editBook(index)"> <img src="@Images/edit.png"
                                            height="18" class="mr-1">
                                        Edit</button>
                                    <button type="button" class="btn btn-danger custom-btn" data-target="#deletemodal"
                                        data-toggle="modal" @click.prevent="setDelete(index)"> <img
                                            src="@Images/delete.png" height="18" class="mr-1">Delete</button>
                                  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               
            </div>

            <!-- Add Modal -->
            <div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Book</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body pl-5 pr-5">
                            <div class="form-group">
                                <label>Name of the Book</label>
                                <input type="text" class="form-control" id="name" v-model="book.name">
                            </div>
                            <div class="form-group">
                                <label>Authors Name</label>
                                <input type="text" class="form-control" id="author" v-model="book.author">
                            </div>
                            <div class="form-group">
                                <label>Copies</label>
                                <input type="number" class="form-control" id="copies" v-model="book.copies">
                            </div>
                            <div class="form-group">
                                <label for="customSelect">Category</label>
                                <select id="customSelect" name="category" class="custom-select" v-model="book.category">
                                    <option>Please select a category</option>
                                    <option v-for="(category, index) in categorylist" :key="index">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button v-on:click="createBook(book)" type="button" class="btn btn-danger"
                                data-dismiss="modal">Add Book</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Update Modal -->
            <div class="modal fade" id="updatemodal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Book</h4>
                            <button type="button" class="close" data-dismiss="modal" v-on:click="clearFields()">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body pl-5 pr-5">
                            <div class="form-group">
                                <label>Name of the Book</label>
                                <input type="text" class="form-control" id="name" v-model="book.name">
                            </div>
                            <div class="form-group">
                                <label>Authors Name</label>
                                <input type="text" class="form-control" id="author" v-model="book.author">
                            </div>
                            <div class="form-group">
                                <label>Copies</label>
                                <input type="number" class="form-control" id="copies" v-model="book.copies">
                            </div>
                            <div class="form-group">
                                <label for="customSelect">Category</label>
                                <select id="customSelect" name="category" class="custom-select" v-model="book.category" placeholder="Please Select Category">
                                    <option v-for="(category, index) in categorylist" :key="index">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button v-on:click="updateBook(book)" type="button" class="btn btn-danger"
                                data-dismiss="modal">Update Book</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete</h4>
                            <button type="button" class="close" data-dismiss="modal" >&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body pl-5 pr-5">
                            <p>Are you sure do you want to delete? </p>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Close</button>
                            <button type="button" data-dismiss="modal" v-on:click="deleteBook()" class="btn btn-sm btn-danger "> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from "toastr"
    export default {
        data() {
            return {
                bookdata: [{
                        name: "JS for Dummies",
                        author: "MJ Jordan",
                        copies: "2",
                        category: "Programming",
                    },
                 
                ],
                book: {
                    id: "",
                    name: "",
                    author: "",
                    copies: "",
                    category: "",
                },
            }
        },
        mounted: function () {
            document.title = "Libsys | book"
        },
        methods: {
            createBook(book) {
                if (!this.validate(book)) {
                    for (var e in this.errors) {
                        toastr.error(`${this.errors[e]}`, "Failed");
                    }
                    return;
                }
                this.bookdata.unshift({
                    name: book.name,
                    author: book.author,
                    copies: book.copies,
                    category: book.category,
                });
                this.clearFields();
                toastr.success("Book Created", "Successful");
            },
            editBook(index) {
                this.book.id = index;
                this.book.name = this.bookdata[index].name;
                this.book.author = this.bookdata[index].author;
                this.book.copies = this.bookdata[index].copies;
                this.book.category = this.bookdata[index].category;
            },
            updateBook(book) {
                if (!this.validate(book)) {
                    for (var e in this.errors) {
                        toastr.error(`${this.errors[e]}`, "Failed");
                    }
                    return;
                }
                this.bookdata[book.id].name = book.name;
                this.bookdata[book.id].author = book.author;
                this.bookdata[book.id].copies = book.copies;
                this.bookdata[book.id].category = book.category;
                this.clearFields();
                toastr.success("Book Updated!", "Success");
            },
            setDelete(index) {
                this.bookid = index;
            },
            deleteBook() {
                //Delete Patron
                this.$delete(this.bookdata, this.bookid);
                this.clearFields();
            },
            clearFields() {
                this.book.id = 0;
                this.book.name = "";
                this.book.author = "";
                this.book.copies = "";
                this.book.category = "";
            },
            validate(book) {
                this.errors = [];

                if (book.name && book.author && book.category) {
                    return true;
                }

                if (!book.name) {
                    this.errors.push("Name is required");
                }

                if (!book.author) {
                    this.errors.push("Author is required");
                }

                if (!book.category) {
                    this.errors.push("Category is required");
                }
                return false;
            },
        },
    }
</script>