<template>
  <div id="dashboard">
    <div class="home">
         <Sidenav/>
         <Header/>
      
      <div class="bodybg">   
        
    
        <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <h1>Borrowed Books and Returned Books</h1>
            <canvas id="barchart" width="280" height="200"></canvas>
        </div>
               
        <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
            <canvas id="piechart" width="230" height="200"></canvas>
            <h2>Book Genre </h2>
        </div>
      </div>
    </div>   
  </div>
</template>

<script>
import Sidenav from "@Navs/Sidenav.vue"
import Header from "@Navs/Header.vue"
import Chart from 'chart.js'

export default {
  name: 'Dashboard',
  components: {
      Sidenav,
        Header 
  },

  mounted: function(){
        document.title = "Dashboard"

    var barChart = document.getElementById('barchart').getContext('2d');
    new Chart(barChart, {
      type: 'bar',
      data: {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
          datasets: [
            {
              label: 'Borrowed Books',
              data:[
                  1000,
                  840,
                  545,
                  800,
                  338,
                  493
              ],
              backgroundColor: 'Orange',
              bordrWidth: 1,
              borderColor:'#777',
              hoverBorderWidth:3,
              hoverBorderColor:'#000'
          },
          {
              label: 'Returned Books',
              data:[
                  500,
                  300,
                  700,
                  674,
                  100,
                  975
              ],
              backgroundColor: 'Grey',
              bordrWidth: 1,
              borderColor:'#777',
              hoverBorderWidth:3,
              hoverBorderColor:'#000'  
          },
          ]
      },
    });

    var pie = document.getElementById('piechart').getContext('2d');
    new Chart(pie, {
        type: 'pie',
        data: {
            labels: ['Comedy', 'Sci-Fi', 'Romance', 'Horror', 'Action'],
            datasets: [{
            label: '# of Votes',
            data: [1000, 638, 855, 337, 523],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 111, 235, 0.6)'
                
            ],
            }]
        },
        options:{
        legend:{
            position: 'right'
        }
        }
    });
  }
}
</script>

<style scoped>

body {
  margin: 0;
  padding: 0;
  background: #8EE4AF;
  }

  .bodybg 
  {
    background: #EDF5E1;
    position: absolute;
    width: 815px;
    height: 446px;
    left: 344px;
    top: 160px;
  }

  .select
  {
    background: #8EE4AF;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 82px;
  }

  h5
  {
    color: #05386B;
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    text-align: left;
    padding-left: 70px;
    margin-top: 0;
  }
  .dashboardlogo 
  {
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 20px;
    left: 20px;
  }

  #piechart
  {
    margin-top: -200px;
    margin-left: 430px;
  }

  h1
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    margin-top: 0px;
  }

  h2
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    margin-top: -300px;
    margin-left: 420px;
  }
</style>