<template>
  <div id="app">
    <div class="main-content">
      <div class="container pt-5">
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn btn-primary" data-target="#addmodal" data-toggle="modal">&nbsp;Add&nbsp;
            </button>
          </div>
          <div class="col-4 offset-md-4">
            <div class="d-flex justify-content-end pr-1">
              <input type="text" class="form-control custom-form" id="search" placeholder="Search">
              <img src="@Images/search_48px.png" height="25" class="mt-2 mr-2 position-absolute invert">
            </div>
          </div>
        </div>

        <div class="table-responsive pt-3">
          <div style="overflow-x:auto;"></div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Date Registered</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(patron, index) in patrondata" :key="index">
                <td>{{patron.name}}</td>
                <td>{{patron.email}}</td>
                <td>{{setDate(patron.dateregister)}}</td>
                <td>
                  <button type="button" class="btn btn-primary custom-btn" v-on:click="editPatron(index)"
                    data-target="#updatemodal" data-toggle="modal"><img src="@Images/edit.png" height="18"
                      class="mr-1">Edit</button>
                  <button type="button" class="btn btn-danger custom-btn" data-target="#deletemodal"
                    @click.prevent="setDelete(index)" data-toggle="modal"> <img src="@Images/delete.png" height="18"
                      class="mr-1">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Add Modal -->
      <div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add Patron</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body pl-5 pr-5">
              <form>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" v-model="patron.name">
                </div>
                <div class="form-group">
                  <label>Email Address</label>
                  <input type="email" class="form-control" v-model="patron.email">
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button v-on:click="createPatron(patron)" type="button" class="btn btn-danger" data-dismiss="modal">Add
                Patron</button>
            </div>

          </div>
        </div>
      </div>

      <!-- Update Modal -->
      <div class="modal fade" id="updatemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Update Patron</h4>
              <button type="button" class="close" data-dismiss="modal" v-on:click="clearFields()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body pl-5 pr-5">
              <form>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" v-model="patron.name">
                </div>
                <div class="form-group">
                  <label>Email Address</label>
                  <input type="email" class="form-control" v-model="patron.email">
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button v-on:click="updatePatron(patron)" type="button" class="btn btn-danger" data-dismiss="modal">Update
                Patron</button>
            </div>

          </div>
        </div>
      </div>

      <!-- Delete Modal -->
      <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Delete</h4>
              <button type="button" class="close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body pl-5 pr-5">
              <p>Are you sure do you want to delete this?</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" data-dismiss="modal" v-on:click="deletePatron()" class="btn btn-sm btn-danger"> Yes
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import toastr from "toastr";

  export default {
    mounted: function () {
      document.title = "Libsys | Patron"
    },
    data() {
      return {
        patrondata: [{
            name: "Winston",
            email: "Winston@gmail.com",
            dateregister: 1898781038000,

          },
       
        ],
        patron: {
          id: "",
          name: "",
          email: "",
          dateregister: this.setDate(Date.now()),
        },
  
      };
    },
    methods: {
      createPatron(patron) {
        if (!this.validate(patron)) {
          for (var e in this.errors) {
            toastr.error(`${this.errors[e]}`, "Failed");
          }
          return;
        }
        this.patrondata.unshift({
          name: patron.name,
          email: patron.email,
          dateregister: patron.dateregister,
        });
        this.clearFields();
        toastr.success("Patron Added!", "Success");
      },
      editPatron(index) {
        this.patron.id = index;
        this.patron.name = this.patrondata[index].name;
        this.patron.email = this.patrondata[index].email;
      },
      updatePatron(patron) {
        if (!this.validate(patron)) {
          for (var e in this.errors) {
            toastr.error(`${this.errors[e]}`, "Failed");
          }
          return;
        }
        this.patrondata[patron.id].name = patron.name;
        this.patrondata[patron.id].email = patron.email;
        this.clearFields();
        toastr.success("Patron Updated!", "Success");
      },
      setDelete(index) {
        this.patronid = index;
      },
      deletePatron() {
        //Delete Patron
        this.$delete(this.patrondata, this.patronid);
        this.clearFields();
      },
      clearFields() {
        //Clear values in patron object
        (this.patron.name = ""),
        (this.patron.email = "");
      },
      setDate(date) {
        var d = new Date(date);
        return `${new Intl.DateTimeFormat("en", { month: "long" }).format(
        d
      )} ${new Intl.DateTimeFormat("en", { day: "2-digit" }).format(
        d
      )}, ${new Intl.DateTimeFormat("en", { year: "numeric" }).format(d)}`;
      },
      validate(patron) {
        this.errors = [];

        if (
          patron.name &&
          patron.email
        )
          return true;

        if (!patron.name) {
          this.errors.push("Fullname is required!");
        }
        if (!patron.email) {
          this.errors.push("Email Address is required!");
        }

        console.log(this.errors);
        return false;
      },

    }
  }
</script>