<template>
<div id="app">
  <div class="main-content">

  </div>
</div>
  
</template>

<script>
export default {
  mounted: function(){
      document.title = "Libsys | Settings"
  },
  methods: {}
}
</script>
