<template>
  <div id="app">
    <Sidenav/>
    <Header/>
    <router-view/>
  </div>
  
</template>

<script>
import Sidenav from "@Navs/Sidenav.vue"
import Header from "@Navs/Header.vue"
export default {
        components: {
        Sidenav,
        Header 
        },
    }
</script>

<style>
@import '../src/assets/css/style.css';
</style>

 