<template>
    <div class="Topnav">
    <div class="top-nav">
    <div class="nav-container">
    <div class="d-flex align-items-center">
    <a href="" class="mr-4 pt-4 link-logout">Logout</a>
                   
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Topnav'
    }
</script>
