<template>
<div id="app">
      <div class="side-nav">
           <div class="logo">
            <div class="row mt-3 ml-3">
                <div class="col-3 col-sm-3 col-lg-3 pb-3">
                    <img src="@Images/Libsys.png" height="60" alt="" class="JRI">
                </div>
                <div class="col-6 col-sm-6 col-lg-6 pt-3 ml-3">
                    <p class="logo-name">LIBSYS</p>
                </div>
            </div>
        </div>

       

    <router-link to="/">
            <div class="element-container" >
                <div class="element">
                    <img src="@Images/dashboard.png" height="45" class="ml-4 pt-1  position-absolute">
                    <p class="ml-5 pl-4 pt-3  option" href="">Dashboard</p>
                </div>
            </div>
    </router-link>

       

    <router-link to="patron" >
            <div class="element-container" >
                <div class="element">
                    <img src="@Images/conference.png" height="45" class="ml-4 pt-1 position-absolute">
                    <p class="ml-5 pl-4 pt-3 option" href="">Patron Management</p>
                </div>
            </div>
    </router-link>

    <router-link to="book">
            <div class="element-container" >
                <div class="element">
                    <img src="@Images/book.png" height="45" class="ml-4 pt-1 position-absolute">
                    <p class="ml-5 pl-4 pt-3 option" href="">Books Management</p>
                </div>
            </div>
    </router-link>

       

    <router-link to="settings">
            <div class="element-container" >
                <div class="element">
                    <img src="@Images/settings.png" height="45" class="ml-4 pt-1 position-absolute">
                    <p class="ml-5 pl-4 pt-3 option" href="">Settings</p>
                </div>
            </div>
    </router-link>
      </div> 
    </div>
</template>

<script>
  export default {
       name: 'Sidenav'
    }
</script>


